apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: test-app
  namespace: cluster1
spec:
  project: default
  source:
    repoURL: https://github.com/argoproj/argocd-example-apps
    targetRevision: HEAD
    path: guestbook
  destination:
    server: https://<PRINCIPAL_ADDRESS>:<PRINCIPAL_PORT>?agentName=cluster1
    namespace: guestbook
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
